<% if object.errors.any? %>
  <div class="alert alert-danger">
    <p class="lead warning">Something is wrong!</p>
      <ul class="warning">
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  </div>  
<% end %>
